@using MvcKutuphane.Models.Entity
@model List<TBLKİTAP>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.yazar</h2>

<table class="table table-striped">
    <thead>
        <tr style="background-color:rgb(252,178,22)">
            <th>ID</th>
            <th>Kİtap Adı</th>
            <th>Kategori</th>
            <th>Yayın Evi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.KATEGORI</td>
            <td>@item.YAYINEVI</td>
        </tr>
        }
        
    </tbody>
</table>

