@using MvcKutuphane.Models.Entity
@model List<TBLKİTAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfası</h2>

@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div class="mt-5 mb-5">
        <b>Aranacak Kitap Adını Giriniz:&nbsp;</b> @Html.TextBox("p")
    <input type="submit" name="Ara" value="Ara" />
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>KİTAP ADI</th>
            <th>YAZAR</th>
            <th>KATEGORİ</th>
            <th>BASIM YILI</th>
            <th>YAYIN EVİ</th>
            <th>SAYFA</th>
            <th>DURUM</th>
            <th colspan="2" class="text-center">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.AD</td>
                <td>@item.TBLYAZAR.AD @item.TBLYAZAR.SOYAD
                <td>@item.TBLKATEGORİ.AD</td>
                <td>@item.BASIMYIL</td>
                <td>@item.YAYINEVI</td>
                <td>@item.SAYFA</td>
                <td>@item.DURUM</td>
                <td class="text-center"> <a href="/Kitap/KitapSil/@item.ID" class="btn btn-danger">Sil</a> </td>
                <td class="text-center"> <a href="/Kitap/KitapGetir/@item.ID" class="btn btn-success">Güncelle</a> </td>

            </tr>
        }
    </tbody>


</table>
<a href="/Kitap/KitapEkle/" class="btn btn-success">Yeni Kitap Ekle</a>

