@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div class="mt-5 mb-5">
        <label>Üye Adı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:red" })
    </div>
    <div class="mt-5 mb-5">
        <label>Üye Soyad</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SOYAD, "", new { @style = "color:red" })
    </div>
    <div class="mt-5 mb-5">
        <label>Üye Mail</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.MAIL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MAIL, "", new { @style = "color:red" })
    </div>
    <div class="mt-5 mb-5">
        <label>Kullanıcı Adı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.KULLANICIADI, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SOYAD, "", new { @style = "color:red" })
    </div>
    <div class="mt-5 mb-5">
        <label>Şifre</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.SIFRE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SIFRE, "", new { @style = "color:red" })
    </div>
    <div class="mt-5 mb-5">
        <label>Fotoğraf Link</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.FOTOGRAF, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FOTOGRAF, "", new { @style = "color:red" })
    </div>
    <div class="mt-5 mb-5">
        <label>Telefon</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.TELEFON, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TELEFON, "", new { @style = "color:red" })
    </div>
    <div class="mt-5 mb-5">
        <label>Okul</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.OKUL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.OKUL, "", new { @style = "color:red" })
    </div>
    <div class="mt-5">
        <button class="btn btn-info" id="Btn1">Üye Ekle</button>
    </div>
</form>

