@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(u => u.ID)
        @Html.TextBoxFor(u => u.ID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.AD)
        @Html.TextBoxFor(u => u.AD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.SOYAD)
        @Html.TextBoxFor(u => u.SOYAD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.KULLANICIADI)
        @Html.TextBoxFor(u => u.KULLANICIADI, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.MAIL)
        @Html.TextBoxFor(u => u.MAIL, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.SIFRE)
        @Html.TextBoxFor(u => u.SIFRE, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.TELEFON)
        @Html.TextBoxFor(u => u.TELEFON, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.OKUL)
        @Html.TextBoxFor(u => u.OKUL, new { @class = "form-control" })
    </div>


    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>
}

